@using HoangGia.Web.ViewModels
@model IEnumerable<ProjectViewModel>
<section class="flat-row" id="projects">
    <div class="container">
        <div class="row">
            <div class="flat-projects-portfolio style2">
                <ul class="portfolio-filter">
                    <li class="active"><a data-filter="*" href="#">Tất cả</a></li>
                    @foreach (var cate in (IEnumerable<ProjectCategoryViewModel>)ViewBag.ProjectCategories)
                    {
                        <li><a data-filter=".p_@cate.Id" href="#">@cate.Name</a></li>
                    }
                </ul>
                <!-- /.project-filter -->
                <div class="projects-portfolio">
                    @foreach (var project in Model)
                    {
                        <div class="projects-portfolio-wrap style1">
                            <div class="item p_@project.ProjectCategoryId">
                                <div class="portfolio-img">
                                    <a href="@Url.Action("Details","Project", new { id = project.Id })"><img src="@project.Image" alt="@project.Name"></a>
                                    <div class="flat-button style1">
                                        <a href="@Url.Action("Details","Project", new { id = project.Id })">Xem</a>
                                    </div>
                                    <div class="overlay"></div>
                                    <div class="portfolio-content">
                                        <h5 class="portfolio-title"><a href="@Url.Action("Details","Project", new { id = project.Id })">@project.Name</a></h5>
                                        <ul class="portfolio-categories">
                                            <li><a href="@Url.Action("Details","Project", new { id = project.Id })">@project.ProjectCategory.Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item -->
                        </div>
                    }
                </div>
                <!-- /.projects-portfolio -->
            </div>
            <!-- /.flat-projects-portfolio -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
