@model IEnumerable<HoangGia.Web.ViewModels.ServiceViewModel>

<section class="flat-row flat-imagebox pad-bottom20px">
    <div class="container">
        <div class="row">
            <div class="item">
                <div class="box-services">
                    <div class="box-services-wrap">
                        <h2 class="title-box-services">Dịch vụ</h2>
                        <p>Hoàng Gia chuyên cung cấp các dịch vụ kiến ​​trúc và thiết kế nội thất đặc biệt cho khách hàng trong và ngoài nước. </p>
                        <div class="flat-button">
                            <a href="@Url.Action("Index","Service")">Xem tất cả</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.item -->
            @foreach (var service in Model)
            {
                <div class="item">
                    <div class="imagebox">
                        <div>
                            <div class="box-image">
                                <div class="box-header">
                                    <h4 class="box-title"><a href="@Url.Action("Details","Service", new { id = service.Id})">@service.Name</a></h4>
                                </div>
                                <a href="@Url.Action("Details","Service", new { id = service.Id})"><img src="@service.CoverImage" alt="@service.Name"></a>
                            </div>
                            <div class="box-content">
                                <p>@service.Overview</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
            <!-- /.item -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


