@model HoangGia.Web.ViewModels.SettingViewModel
<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Cài đặt mail</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <ul class="web-info">
            <li><strong>Mail của bạn: </strong>&nbsp; @Model.AdminEmailAddress</li>
            <li><strong>Tên hiển thị Email: </strong>&nbsp; @Model.NotificationReplyEmail</li>
            <li> <strong>Smtp Host : </strong>&nbsp; @Model.Smtp</li>
            <li><strong>Smtp Username: </strong>&nbsp; @Model.SmtpUsername</li>
            <li><strong>Smtp Password: </strong>&nbsp; *****************</li>
            <li><strong>Smtp Port: </strong>&nbsp; @Model.SmtpPort</li>
            <li><strong>Kích hoạt SmtpEnableSsl: </strong>&nbsp; @Html.CheckBoxFor(x => x.SmtpEnableSsl.HasValue)</li>

        </ul>
    </div>
    <!-- /.box-body -->

</div>
<!-- /.box -->