@model IEnumerable<HoangGia.Web.ViewModels.MenuViewModel>
@{
    ViewBag.AdminTitle = "Quản lý Menu";
    Layout = "~/Areas/AdminHg/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Danh sách Menu</h3>
        <!-- Trigger the modal with a button -->
        <a href="@Url.Action("Create","Menu", new {area = "AdminHg"})" class="btn btn-info btn-sm margin-left-8">
            Thêm menu
        </a>

    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="myTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên menu</th>
                    <th>Danh mục cha</th>
                    <th>Tên Controller</th>
                    <th>Tên Action</th>
                    <th>Thứ tự</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var menu in Model)
            {
                    <tr>
                        <td>@menu.Id</td>
                        <td>
                            <a href="@Url.Action("Edit", "Menu", new { id = @menu.Id})">
                                @menu.Name
                            </a>
                        </td>
                        <td>@menu.ParentId</td>
                        <td>@menu.ControllerName</td>
                        <td>@menu.ActionName</td>
                        <td>@menu.Order</td>
                        <td>
                            @{
                                var label = menu.IsActived ? "Đã kích hoạt" : "Chưa kích hoạt";
                                var classLabel = menu.IsActived ? "label-success" : "label-danger";
                                <span class="label @classLabel">@label</span>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Menu", new { id = @menu.Id})">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="javascript:void(0);">
                                <i data-name="@menu.Name" data-id="@menu.Id" class="fa fa-trash margin-left-8 btn-delete-menu"></i>
                            </a>
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->


@section scripts{
    <script>
        $(document).ready(function () {
            
            $("input[type='search']").attr('placeholder', 'Nhập tên menu để tìm...');
            $('.btn-delete-menu').click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.dialog({
                    message: "Bạn chắc chắn muốn xóa menu <strong>" + link.attr('data-name') + "</strong>?",
                    title: "Xác nhận xóa",
                    buttons: {
                        no: {
                            label: "Hủy",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Xóa ",
                            className: "btn-danger",
                            callback: function () {
                                $.ajax({
                                    url: "/AdminHg/Menu/Delete/" + link.attr('data-id'),
                                    method: "post",
                                    success: function () {
                                        link.parents("tr").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    },
                                    error: function () {
                                        bootbox.alert("Lỗi xảy ra. Vui lòng liên hệ với bộ phận dev.");
                                    }
                                });
                            }
                        }
                    }
                });
            });

        });
    </script>
}